RewriteEngine On

# 1) Forzar https + www
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^www\.hotelsantaprisca\.com\.mx$ [NC]
RewriteRule ^ https://www.hotelsantaprisca.com.mx%{REQUEST_URI} [L,R=301]

# 2) /en -> /en/
RewriteRule ^en$ /en/ [L,R=301]

# 3) Evitar /index.html y /en/index.html
RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
RewriteRule ^index\.html$ / [L,R=301]

RewriteCond %{THE_REQUEST} \s/+en/index\.html[\s?] [NC]
RewriteRule ^en/index\.html$ /en/ [L,R=301]
